---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.site-title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.layout--splash .page__hero--overlay {
  min-height: 95vh;
  background-position: center 35%;
  background-size: cover;
}